/* DEFINISEMO NEKE GLOBALNE STVARI*/
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/nts/Montserrat.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter.ttf') format('truetype');
}

:root {
    /* varijable izvucene iz dizajna sajta napravljenog u Figmi*/

    --light-mode-bg: #F9FAFB;
    --light-mode-card: #F9FAFB;
    --light-mode-smallcard: var(--blue-100);
    --light-mode-txt: black;
    --light-mode-footer: #c0a4a4;
    --light-mode-header-glass: rgba(255, 255, 255, 0.7);
    --light-mode-header-border: 1px solid rgba(255, 255, 255, 0.3);
    --light-mode-input: var(--light-mode-bg);

    --dark-mode-bg: #070B16;
    --dark-mode-card: #111827;
    --dark-mode-smallcard: #1E2E55;
    --dark-mode-txt: #e2dcdc;
    --dark-mode-footer: #111827;
    --dark-mode-header-glass: rgba(17, 24, 39, 0.7);
    --dark-mode-header-border: 1px solid rgba(255, 255, 255, 0.05);
    --dark-mode-input: #293243;

    --current-mode-bg: var(--light-mode-bg);
    --current-mode-card: var(--light-mode-card);
    --current-mode-smallcard: var(--light-mode-smallcard);
    --current-mode-txt: var(--light-mode-txt);
    --current-mode-footer: var(--blue-100);
    --current-mode-header-glass: var(--light-mode-header-glass);
    --current-mode-header-border: var(--light-mode-header-border);
    --current-mode-input: var(--light-mode-input);

    --blue-50:  #EFF6FF;
    --blue-100: #DBEAFE;
    --blue-400: #60A5FA;
    --blue-500: #3B82F6;
    --blue-600: #2563EB;
    --blue-700: #1D4ED8;
    --blue-800: #1E40AF;
    --blue-900: #1E3A8A;
    --blue-950: #172554;

    --blue-dark-gradient: linear-gradient(90deg,var(--blue-500) 0%, var(--blue-500) 135%);
    --blue-light-gradient: linear-gradient(180deg, var(--blue-100) 0%, var(--blue-400) 260%);

}

/* u dark modu mijenjamo sve current varijable da budu dark*/
body.dark {
    --current-mode-bg: var(--dark-mode-bg);
    --current-mode-card: var(--dark-mode-card);
    --current-mode-smallcard: var(--dark-mode-smallcard);
    --current-mode-txt: var(--dark-mode-txt);
    --current-mode-footer: var(--dark-mode-footer);
    --current-mode-header-glass: var(--dark-mode-header-glass);
    --current-mode-header-border: var(--dark-mode-header-border);
    --current-mode-input: var(--dark-mode-input);
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    font-family: Inter, Montserrat, Helvetica;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

/*------------ LOADER (medin) ----------------*/

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: var(--current-mode-bg);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    transition: opacity 1s ease;
}

.loader.hidden {
    opacity: 0;
    pointer-events: none;
    user-select: none;
}

@keyframes spin {
    to { transform: rotate(360deg); }
}

.loader-spinner {
    width: 3rem;
    aspect-ratio: 1/1;
    border: 4px solid var(--blue-100);
    border-top: 4px solid var(--blue-500);
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
}

/*-----------NAV (mario) ------------*/

header {
    width: 100vw;
    height: 9vh;

    font-size: 1.3rem;

    display: flex;
    justify-content: space-between; /* logo je lijevo, linkovi su desno */

    /* u ovom dijelu koda pravimo tkzv. glassmorphism efekat navigacije */
    /* ovaj efekat se primjeti ukoliko skrolamo stranicu pa se navigacija nalazi preko nekog sarenog elementa */
    background: var(--current-mode-header-glass); 
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border-bottom: var(--current-mode-header-border);


    box-sizing: border-box; /* padding se racuna u ukupnu velicinu elementa */
    padding: 0 6em; /* odvajamo elemente navigacije od stranica "monitora" */

    box-shadow: 0px 5px 30px rgba(0,0,0,0.15);
    
    position: fixed; /* navigacija je uvijek "zalijepljena" na vrh, cak i kada skrolamo dole */
    z-index: 100; /* osiguravamo da se navigacija uvijek vidi - da nema elemenata preko nje kada skrolamo dole */
}



/*----------- NAV LOGO (mario) -----------*/

.nav-logo {
    height: 100%;
    font-size: 1.5rem; /* 1rem = 16px*/

    display: flex;
    align-items: center;
    justify-content: start;

    user-select: none; /*sklanjamo opciju selektovanja teksta jer ruzno izgleda */
}

.nav-logo img {
    width: 3em; /* slika prati velicinu fonta logoa*/
}

.nav-logo .logo-txt {
    font-weight: 600;
    color: var(--current-mode-txt);
}

/* kada je light mode svijetli logo se ne vidi */
.light-logo-img {
    display: none;
}

/* kada je dark mode tamni logo se ne vidi */
body.dark .dark-logo-img {
    display: none
}

/* kada je dark mode svijetli logo se vidi */
body.dark .light-logo-img {
    display: block;
}

/* tamni logo se sam vidi zbog same definicije html koda */


/*------- NAV LINKS (mario) -------------*/

.nav-main {
    display: flex;
    align-items: center;
    justify-content: end; 
    
    font-size: 0.9em;

    width: 35%; /* element sa linkovima zauzima 35% ukupne navigacije */
    height: 100%;

    gap: 1.1em;
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-el {
    padding: 0 1em;
}

.nav-link {
    color: var(--current-mode-txt);
    user-select: none; /* sklanjamo opciju selektovanja teksta zbog ruznog izgleda*/

    transition: color 0.1s ease-out, transform 0.2s ease-out;

}

.nav-btns {
    height: 100%;

    display: flex; 
    align-items: center;
    justify-content: center;

    gap: 1.4em; /* razmak izmedju elemenata koji se skalira proporcionalno fontu*/

    position: relative; /* pozicija relativna jer koristimo ::before element*/
}

/* pomocu ::before elementa pravimo liniju za odvajanje tekstualnih linkova i ikonica*/
.nav-btns::before {
    content:'';
    position: absolute;
    width: 1px;
    height: 70%;

    /* linija postavljena na mjesto odredjeno dizajnom stranice */
    top: 50%;
    left: -25%;
    transform: translate(-50%, -50%);

    background: var(--current-mode-txt);
    opacity: 0.2;
}

.nav-btns .nav-btn {
    width: 100%;
    height: 100%;

    display: flex;  
    align-items: center;
    justify-content: center;
}

.github-link svg {
    color: var(--current-mode-txt);

}

/* posto imamo :hover, tranizija je potrebna za ljepsi izgled*/
.github-link svg path {
    transition: all 0.2s ease-out;
}


/*------- DARK MODE BUTTON (mario) --------*/

.nav-btns .nav-btn svg {
    display: block;

    width: 1.2em;
    aspect-ratio: 1/1;

    /* mijenjamo izgled svg-a */
    fill: none;
    stroke: var(--current-mode-txt);
    stroke-width: 2;
    stroke-linecap: round;

    transition: transform 0.5s ease-out, stroke 0.1s ease-out;
}

/* checkbox koji se ne vidi, ali posto imamo label on se moze checkirati*/
#dark-mode-toggle {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.dark-mode-label {
    display: inline;
    cursor: pointer;
}

/* animacija dark mode ikonice*/
/* kada se checkbox klikne desava se animacija rotiranja svg*/
/* osim sto se on rotira on se u momentu rotiranja mijenja iz mjeseca u sunce ili obrnuto*/

#dark-mode-toggle:checked + svg {
    transform: rotate(-360deg);
}

.sun-circle,
.sun-rays line {
    transition: opacity 0.2s ease-out;
}

/* posto je default mode stranice light mode, ikonica mjeseca ne treba biti vidljiva*/
.nav-btns .mode-btn .moon-path {
    opacity: 0;
}
/* checkiran checkbox definiran je kao odabir dark moda, pa kada je on checkiran prikazuje se mjesec*/
#dark-mode-toggle:checked + svg .moon-path {
    opacity: 1;
}
/* prateci prosli komentar, kada je dark mode izabran sunce se ne vidi*/
#dark-mode-toggle:checked + svg .sun-circle,
#dark-mode-toggle:checked + svg .sun-rays{
    opacity: 0;
}
/* kada se checkbox un-checkira, css automatski ponavlja cijeli proces ali samo suprotno - sunce se vraća, mjesec nestaje */


/*------------ NAV HOVER/FOCUS (mario) -----------------*/

/* prelazom misa preko bilo kojeg elementa na desnoj strani navigacije mijenjamo boju elementa*/

.nav-link:hover,
.nav-link:focus {   
    display: inline-block;
    color: var(--blue-600);
}

.github-link:hover svg path,
.github-link:focus svg path{
    stroke: var(--blue-600);
}

.dark-mode-label:hover svg {
    stroke: var(--blue-600);
}

#dark-mode-toggle:focus + svg {
    stroke: var(--blue-600);
}